*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}html{
    scroll-behavior: smooth;
}body{
    width: 100%;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    outline: none;
    user-select: none;
    background: whitesmoke;
}

/* Navbar style */
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
}.logo, .menu{
    height: 80px;
    display: flex;
    align-items: center;
}

/* Logo style */
.logo{
    order: 1;
    width: 30%;
    justify-content: center;
}.logo img{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    transform: rotate(30deg);
}.logo a{
    width: 110px;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    color: #81353E;
    text-align: left;
    text-decoration: none;
    transition: all .3s ease;
}.logo a:hover{
    transform: scale(1.1);
}.logo a:active{
    transform: scale(.9);
}

/* Menu style */
.menu{
    order: 2;
    width: 55%;
    justify-content: flex-end;
}.menu a{
    color: #484A4B;
    margin: 0 4%;
    font-weight: 500;
    text-decoration: none;
}.menu a:not(.shopImg):hover{
    border-bottom: 2px solid #484A4B;
}

/* Icons style */
.shopping{
    order: 3;
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
}.shopImg{
    display: flex;
    align-items: center;
}.shopImg img{
    width: 40px;
    padding: 7px;
    transition: all .3s ease;
}.shopImg img:hover{
    border-radius: 10px;
    box-shadow: 0 0 5px #81353E;
}.shopImg img:active{
    transform: scale(.95);
}.shopImg div{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    padding: 8px 0;
    text-align: center;
    border: none;
    border-radius: 50%;
    color: whitesmoke;
    background: #484A4B;
    transition: all 0.3s ease;
}.shopImg div:hover{
    box-shadow: 0 0 5px #81353E;
    background: #81353E;
    transform: scale(1.1);
}.shopImg div:active{
    transform: scale(.95);
}

/* Button menu */
.open{
    width: 30px;
    height: 30px;
    margin: 5%;
    border: none;
    background: url("images/bars-solid.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}

/* Home style */
.home{
    display: flex;
    flex-direction: row;
}.home div{
    width: 50%;
}.homeTitle{
    padding: 120px 4%;
    display: flex;
    flex-direction: column;
}.homeTitle h1, .homeTitle h3{
    color: #81353E;
}.homeTitle h1{
    font-size: 5.2vmax;
    margin: 0;
}.homeTitle h3{
    margin: 10px 0;
    font-size: 3.2vmax;
    font-weight: 400;
}.homeImage{
    display: flex;
    align-items: center;
}.homeImage img{
    width: 100%;
}

/* Buttons style */
.btns{
    width: 100% !important;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}.btns button{
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-right: 20px;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s ease;
}.now{
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 13px;
    font-weight: 600;
    color: whitesmoke;
    background: #81353E;
    border: none;
    transition: all 0.3s ease;
}.more{
    color: #81353E;
    background: whitesmoke;
    border: 3px solid #81353E;
}.btns button:hover{
    box-shadow: 0 0 5px #81353E;
    color: whitesmoke;
    background: #562329;
    border: none;
}.now:hover{
    color: white;
    background: #562329;
}.now:active, .btns button:active{
    transform: scale(.9);
}

/* Model style */
.model{
    width: 100%;
    padding: 20px 4%;
    display: flex;
    flex-wrap: wrap;
    background: #202020;
}.model div:not(.infos2){
    width: 50%;
    min-width: 240px;
}.modelImage{
    display: flex;
    justify-content: center;
    align-items: center;
}.modelImage img{
    width: 100%;
}.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}.infos2{
    width: 100%;
    padding: 20px;
    color: white;
}.infos h1{
    font-size: 4vmax;
}.infos h4{
    font-size: 1.2vmax;
    font-weight: 400;
}

/* contact style */
.contact{
    width: 100%;
    padding: 0 0 0 4%;
    display: flex;
    flex-wrap: wrap;
}.contactTitle{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}.contactTitle h1{
    font-size: 4.5vmax;
    color: #81353E;
}.inputs{
    width: 60%;
    min-width: 240px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #202020;
}.inputBox{
    width: 70%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
}.inputBox *:not(.txt){
    color: white;
    margin: 25px 0;
}.inputBox label{
    margin: 25px 0 10px 0 !important;
}

/* text box style */
.txt{
    height: 40px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background: transparent;
    border: 4px solid #81353E;
    transition: all .3s ease;
}.txt:focus{
    color: #202020;
    background: whitesmoke;
}.txtMessage{
    height: 200px;
}

/* footer */
.footer{
    width: 100%;
    height: 40px;
    background: #81353E;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}.footer h4{
    margin: 0 0 2px 0;
    color: whitesmoke;
    font-weight: 500;
    font-size: 1.2vmax;
}

/* btn top style */
.top{
    cursor: pointer;
    width: 35px;
    height: 35px;
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    border: none;
    border-radius: 50%;
    background: #81353E;
    box-shadow: 0 0 5px #202020;
    transition: all .2s ease;
    display: none;
}.top:hover{
    background: #562329;
    transform: scale(1.14);
}.top:active{
    transform: scale(.9);
}.top img{
    width: 100%;
}

@media (max-width : 790px){
    .homeTitle{
        width: 30%;
    }.homeImage{
        width: 70%;
    }.shopping{
        padding-right: 4%;
    }.inputBox{
        width: 85%;
    }
}

@media (max-width : 500px){
    .more{
        margin-top: 5px;
    }.menu{
        order: 3;
        position: absolute;
        width: 100%;
        height: 30vh;
        padding-right: 0;
        top: 80px;
        left: 0;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;
        background: #484A4B;
        display: none;
        box-shadow: 0 4px 10px -2px black;
    }.menu a{
        width: 100%;
        height: 40px;
        padding-top: 14px;
        color: whitesmoke;
        text-align: center;
        border: none;
    }.menu a:hover{
        border: none;
    }.menu a:active{
        background: #81353E;
    }.btns{
        flex-wrap: wrap;
    }.logo{
        width: 40%;
        padding-left: 10px;
        order: 1;
    }.shopping{
        width: 60%;
        order: 2;
        justify-content: flex-end;
    }.open{
        display: block;
    }.contact{
        padding: 0;
    }.contactTitle, .inputs, .modelImage, .infos, .infos2 .inputBox{
        width: 100% !important;
    }.infos h4{
        font-size: 3vmin;
    }
}

::-webkit-scrollbar{
    width: 12px;
}::-webkit-scrollbar-thumb{
    border: none;
    background: #81353E;
    border-radius: 15px;
}::-webkit-scrollbar-thumb:hover{
    background: #562329;
}::-webkit-scrollbar-track{
    background: gray;
}